/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --zb-primary: #ff5b00;
    --zb-discount: #ff0000;
    --zb-ethical-green: #008200;
    --zb-dark: #1a1a1a;
    --zb-light: #ffffff;
    --font-boolando: "Helvetica Now", Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--font-boolando);
}

/* #endregion common */

/* #region debug */
.debug #app_header {
    height: 60px;
    background-color: palevioletred;
}

.debug #app_main {
    background-color: paleturquoise;
}

.debug #app_footer {
    height: 100px;
    background-color: palegreen;
}

.debug .container {
    height: 100%;
    background-color: antiquewhite;
}

.debug .catalog,
.debug .logo,
.debug .menu {
    height: 100%;
    width: 20%;
    background-color: aquamarine;
    border: 2px dashed black;
}

.debug .row {
    background-color: brown;
}

.debug .card {
    height: 50vh;
    background-color: aliceblue;
}

.debug .card .img {
    width: 100%;
    background-color: #ff5b00;
}

.debug .card .card_text {
    width: 100%;
    background-color: aqua;
}

.debug .socials,
.debug .copyright {
    height: 100%;
    width: 30%;
    background-color: blueviolet;
}

/* #endregion debug */

/* #region utility */
.container {
    width: 80%;
    max-width: 1180px;
    margin: auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}

.row {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: .5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    height: 90%;
}

.img_hover {
    display: none;
}

.card_text {
    height: 10%;
}

.logo {
    padding: .25rem;
}

.list {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.link {
    text-decoration: none;
}

.text-small {
    font-size: 1rem;
}

.color_white {
    color: var(--zb-light);
}

/* #endregion utility */

/* #region main */

/* #region header */
#app_header {
    top: 0;
    left: 0;
    height: 4rem;
    background-color: var(--zb-primary);
    box-shadow: 0 0 .5rem var(--zb-dark);
}

#app_header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: .5rem;
}

.logo img {
    width: 150px;
}

.menu {
    display: flex;
    gap: 1rem;
}

/* #endregion header */

/* #region main */
#app_main {
    padding: 4rem 0;
}

/* #endregion main */

/* #region footer */
#app_footer .container {
    display: flex;
    justify-content: space-between;
}

.copyright {
    max-width: 70%;
}

.socials {
    max-width: 30%;
}

/* #endregion footer */

/* #endregion main */